section.fp-section {
  padding: 30px 0;

  @include tablet {
    padding: 60px 0;
  }

  @include laptop {
    padding: 80px 0;
  }
}

section.about {
  h1 {
    color: $brand-primary;
    text-align: center;

    strong {
      color: $brand-secondary;
    }
  }

  .about-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    a.btn {
      margin-bottom: 15px;
    }

    .image-box {
      position: relative;
      display: block;
      height: 200px;
      width: 100%;
      flex-grow: 0;
      flex-shrink: 0;
    }

    @include tablet {
      flex-direction: row;

      p {
        padding-right: 30px;
      }

      a.btn {
        margin-bottom: 0;
      }

      .image-box {
        height: 294px;
        width: 351px;
      }
    }
  }
}



section.adventures {
  background-color: $brand-primary;

  h1,
  h2,
  p {
    text-align: center;
    color: #fff;
  }

  h2 {
    margin-bottom: 15px;
  }

  .col-title {
    margin-bottom: 15px;

    @include tablet {
      margin-bottom: 30px;
    }

    @include laptop {
      margin-bottom: 60px;
    }
  }

  .col-adventure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 30px;
  }

  .adventure-single {
    max-width: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    i,
    .raft {
      font-size: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 180px;
      border: solid 6px #fff;
      color: #fff;
      background-color: $brand-secondary;
      height: 156px;
      width: 156px;
      margin-bottom: 10px;

      &.fa-skiing {
        background-color: $brand-blue;
      }

      &.fa-campground {
        background-color: $brand-green-2;
      }

      &.fa-trees {
        background-color: $brand-green-3;
      }

      &.fa-campfire {
        background-color: $brand-green-1;
      }
    }

    .raft {
      background-color: $brand-blue-l;
    }
  }
}

section.get-involved {
  background-color: $brand-blue;
  background-size: contain;
  background-position: bottom;
  position: relative;
  padding-bottom: 120px;

  img.forest-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .cardstyle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    // img {
    //   width: 100%;
    //   height: auto;
    //   align-self: flex-start;
    //   margin-bottom: 15px;
    // }

    .image-box {
      position: relative;
      display: block;
      height: 200px;
      width: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      margin-bottom: 15px;
    }


    @include phablet {
      flex-direction: row;

      .image-box {
        width: 150px;
        height: 150px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }

    @include tablet {
      .image-box {
        margin-right: 15px;
        margin-bottom: 15px;
        width: 295px;
        height: 295px;
      }
    }

    @include desktop {
      .image-box {
        margin-bottom: 0;
        margin-right: 30px;
      }
    }
  }
}

section.adventures,
section.get-involved {
  h1 {
    color: $brand-secondary;
    text-align: center;

    strong {
      color: #fff;
    }
  }
}

.event-section-wrap {
  background-color: $brand-green-3;
}

section.upcoming-events {
  padding-top: 15px;


  h1 {
    color: $brand-primary;
    text-align: center;

    strong {
      color: $brand-secondary;
    }
  }

  p.center {
    text-align: center;
    color: #fff;
  }

  i.slick-arrow {
    position: absolute;
    display: block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: 900;
    top: 45%;
    font-size: 20px;
    color: #fff;
    z-index: 999;
    cursor: pointer;
    transition: 0.3s;

    &:hover,
    &:focus {
      color: $brand-hover;
    }

    &.fa-chevron-left {
      left: 0;
    }

    &.fa-chevron-right {
      right: 0;
    }

    @include desktop {
      height: 108px;
      width: 108px;
      line-height: 108px;
      font-size: 60px;
    }
  }

  .event-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    .event-single {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      position: relative;


      .event-content {
        background-color: $brand-secondary;
        max-width: auto;
        padding: 15px;
        text-align: center;
        color: #fff;
        line-height: 1.1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;


        .date {
          position: absolute;
          top: 10px;
          left: 10px;
        }

        span.month,
        span.day {
          display: block;
          font-weight: 900;
          margin-bottom: 0;
        }

        span.month {
          font-size: 24px;
          color: #f45832;
          text-transform: uppercase;
        }

        span.day {
          font-size: 48px;
          margin-bottom: 15px;
        }

        h3 {
          color: #fff;
          margin-bottom: 15px;
        }

        .deet-block {
          display: flex;
          text-align: left;
          margin-bottom: 15px;

          i {
            margin-top: 7px;
            margin-right: 10px;
            font-weight: 900;
          }

          p {
            font-size: 16px;
          }
        }

        a.btn {
          background-color: $brand-primary;
          align-self: center;
          margin-top: auto;

          &:hover,
          &:focus {
            background-color: $brand-hover;
          }
        }
      }
      .event-img {
        display: block;
        height: 150px;
        width: 100%;

        @include phablet {
          height: 250px;
        }
      }

      @include tablet {
        width: 550px;
        flex-direction: row;
        justify-content: flex-start;

        .event-content {
          max-width: 286px;
          position: relative;
          z-index: 999;
          height: 400px;

          .date {
            position: relative;
            left: 0;
            top: 0;
          }
        }

        .event-img {
          height: auto;
          width: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 284px;
          right: 0;
        }
      }

      @include laptop {
        width: 732px;
      }

      @include desktop {
        .event-content {
          padding: 25px;
          height: 430px;
        }
      }
    }
  }
}

.button-wrap {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  width: 100%;

  @include tablet {
    padding-top: 30px;
  }

  @include laptop {
    padding-top: 60px;
  }

  .btn-red {
    margin-left: 10px;
  }
}

.title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    max-width: 470px;
    margin-bottom: 15px;

    @include laptop {
      margin-bottom: 45px;
    }
  }
}

section.favorite-events {
  h1,
  p {
    text-align: center;
  }

  p {
    max-width: 416px;
    color: #fff;
  }

  h1 {
    color: $brand-primary;

    strong {
      color: $brand-secondary;
    }
  }

  &-lg {
    background-color: $brand-green-2;

    h1 {
      color: #fff;

      strong {
        color: $brand-secondary;
      }
    }

    .button-wrap {
      display: none;
    }
  }

  .fav-event {
    height: 200px;
    position: relative;

    &:last-of-type() {
      display: none;
    }


    h3 {
      color: #fff;
      text-shadow: 2px 2px 6px rgba(0,0,0,0.77);
      display: inline-block;
      position: absolute;
      bottom: 10px;
      left: 10px;
      margin-bottom: 0;
    }

    @include phablet {
      height: 175px;

      &:last-of-type() {
        display: block;
      }
    }

    @include tablet {
      height: 230px;
    }
  }
}

section.suggest-adventure {
  background-color: $brand-primary;
  padding: 15px 0;

  @include tablet {
    padding: 30px 0;
  }

  @include laptop {
    padding: 45px 0;
  }

  h2 {
    color: #fff;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
